<div class="container">
    <div class="row">
        <div class="col-md-5">
            <!-- set selectedContact in contacts.component.ts to $event when the selectedContactEvent is caught -->
            <cms-contact-list (selectedContactEvent)="selectedContact = $event"></cms-contact-list>
        </div>
        <div class="col-md-4">
            <cms-contact-detail
                *ngIf="selectedContact"
                [contact]="selectedContact"
            >
            This is invisible
            </cms-contact-detail>
        </div>
    </div>
</div>
