<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <h1 class="panel-title text-left">Contacts</h1>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-success">New contact</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <!-- contacts lives in the component.ts -->
        <!-- for each contact in contacts, pass to [contact] in contact-item -->
        <!-- pass the same contact object to the onSelect() method -->
        <cms-contact-item
            *ngFor="let contact of contacts"
            [contact]="contact"
            (click)="onSelected(contact)"
        >
        </cms-contact-item>
    </div>
</div>
