<div class="row">
    <div class="col-md-5">
        <!-- listen for selectedDocumentEvent event, set selectedDocument in documents.component.ts to $event 
             when the selectedDocumentEvent is caught -->
        <cms-document-list (selectedDocumentEvent)="selectedDocument = $event"></cms-document-list>
    </div>
  
    <div class="col-md-4">
        <!--Add tag to load the DocumentDetailComponent here
        assign the value of the selectedDocument variable into the document input variable defined in the DocumentDetailComponent.
        -->
        <cms-document-detail
            *ngIf="selectedDocument"
            [document]="selectedDocument"
        >
        This is invisible
        </cms-document-detail>
    </div>
</div>
